/* Sidebar styling */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Collapse Button styling */
.collapse-button {
  position: absolute;
  left: 25px; /* Change from right to left */
  top: 80px;
  background-color: #001529;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.collapse-button:hover {
  background-color: #1890ff;
  transform: scale(1.1);
}


/* Menu styling */
.ant-menu-item {
  font-size: 16px;
  font-weight: bold;
}

.menu-item-logout {
  color: #ff4d4f;
  font-weight: bold;
}

.menu-item-logout:hover {
  background: #ffe8e8;
  color: #d9363e;
}

/* Sider layout */
.ant-layout-sider {
  padding-top: 20px;
}

/* Header styling */
.dashboard-header {
  background: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #f0f0f0;
}

/* Breadcrumb styling */
.ant-breadcrumb {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 500;
}

/* Content and card layout */
.dashboard-content {
  padding: 24px;
  background-color: #f0f2f5;
}

.ant-card {
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ant-card-title {
  font-weight: 600;
  font-size: 18px;
  color: #1890ff;
}
