.create-business-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-business-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-business-form .ant-form-item {
    margin-bottom: 16px;
  }
  
  .create-business-form .ant-input {
    padding: 8px;
    font-size: 16px;
  }
  
  .create-business-form .ant-btn-primary {
    width: 100%;
  }
  