@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: url('./assets/image.png') no-repeat center center/cover;
    min-height: 100vh;
    position: relative; */
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

a {
    text-decoration: none;
}

header {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav .logo {
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}

.container .nav-link {
    display: flex;
}

.container .nav-link li {
    list-style: none;
    margin: 0 0.5rem;
}

.container ul li a {
    color: #212a3c;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    border-radius: 4px;
}

.container ul li a:hover,
.container ul li a.active {
    background-color: #ecf0f1;
}

.content {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translateY(-50%, 0%);
}

.content h2 {
    font-size: 3.5rem;
    color: #fff;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

button.logout {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 11px 16px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.5s ease;
}

button.logout.fade-out {
    opacity: 0;
    transform: scale(0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgslider {
    width: 100%;
    height: 656px;
    background-image: url("./Components/assets/image.png");
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 20s linear infinite;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 26px;
    text-align: center;
    background-color: #ff5252;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0.5px 16px;
}

.header {
    text-align: center;
    color: white;
    margin: 150px 0 20px;
}

.subheader {
    margin-top: 50px;
    color: burlywood;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@keyframes changeImage {
    0% {
        background-image: url(./Components/assets/image.png);
    }
    25% {
        background-image: url(./Components/assets/s1.png);
    }
    50% {
        background-image: url(./Components/assets/s2.jpg);
    }
    75% {
        background-image: url(./Components/assets/SMS.webp);
    }
    100% {
        background-image: url(./Components/assets/s3.avif);
    }
}

@media(max-width: 768px) {
    .content h2 {
        font-size: 4rem;
        text-align: center;
    }
    .icon {
        display: block;
    }
    .container .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        position: absolute;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
        transition: all 0.7s;
    }
    .nav-link.active {
        top: 15%;
        transition: all 0.7s ease-in;
    }
}